#first{
    background-color: antiquewhite;
}
#wan{
    background-color: antiquewhite;
    border: 1px solid transparent;
    
}
#to{
    background-color: antiquewhite;
border: 1px solid transparent;
}
#tre{
  border: 1px solid transparent;
    background-color: antiquewhite;
}